.grid-container {
    display: grid;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows:repeat(8,1fr);
    border: 3px solid white;
}

.item1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.item2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}

.item3 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
}

.item4 {
    grid-row-start: 3;
    grid-row-end: 5;
}

.item5 {
    grid-row-start: 3;
    grid-row-end: 5;
}

.item6 {
    grid-row-start: 5;
    grid-row-end: 7;
}

.item7 {
    grid-row-start: 5;
    grid-row-end: 7;
}

.item8 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 9;
}

.item10 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 9;
}

h1 {
    color: aliceblue;
}

.item {
    border: 2px solid rgb(255, 255, 255);
    margin: 1em;
    padding: 1em;
    color: aliceblue;
}
