.container {
    background-color: rgb(80, 200, 53);
    width: 400px;
    height: 250px;
    position: relative;
    margin: 5rem;
    padding: 5rem;
}



.banner {
    position: absolute;
    background-color: rgb(186, 236, 236);
    border: 3px solid black;
    text-align: center;
    font-size: 1.5em;
    line-height: 50px;
    width: 150px;
    height: 50px;
    top: -10%;
    left: 50%;
    transform: translate(-50%,0);
}

.close {
    position: absolute;
    right: 0;
    top: 0;
}

.text {
    position: absolute;
    top: 0;
    left: 50%;
    top: 40%;
    transform: translate(-50%,0);
    border: 3px dotted white;
    text-align: center;
    font-size: 2em;
    line-height: 50px;
    width: 300px;
    height: 50px;
    color: white;
}

.left {
    position: absolute;
    border-radius: 80px;
    width: 160px;
    height: 160px;
    top: 25%;
    left: 0%;
    transform: translate(-50%, 0);

    background: white;
}

.bottom {
    position: absolute;
    border-radius: 70px;
    width: 200px;
    height: 200px;
    bottom: -25%;
    right: -15%;
    background: white;
}


